.headerHomePage{    
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.boxHeader{
    padding-top: 25px;
    padding-bottom: 25px;
}

.navBoxHeader{
    padding: 18px 0px ;
    width: 100%;
    background-color: var(--gray700);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 70px;
    left: 0px;
}

.LogoImg{
    width: 142px;
    height: 15px;
}

.mainLogin{
    background-image: url(../../assets/img/img_bg.svg);
    height: 100vh;
}

.boxLogin{
    width: 80%;
}

.spanOr{
    text-align: center;
}

@media (min-width: 900px){
    .boxHeader{
        flex-direction: row;
    }

    .LogoImg{
        width: 203px;
        height: 21px;
    }

    .boxHamb{
        display: none;
    }

    .navBoxHeader{
        display: flex;
        position: static;
        padding: 0px;
        width: fit-content;
        border-bottom:none;
    }

    .boxLogin{
        width: 506px;
        height: fit-content;
    }

}