.headerHomePage{    
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.boxHeader{
    padding-top: 25px;
    padding-bottom: 25px;
}

.LogoImg{
    width: 142px;
    height: 15px;
}

.mainRegister{
    background-image: url(../../assets/img/img_bg.svg);
    height: 100%;
}

.boxRegister{
    width: 80%;
}

.AcessHome{
    text-align: center;
}

@media (min-width: 900px){
    .boxHeader{
        flex-direction: row;
    }

    .LogoImg{
        width: 203px;
        height: 21px;
    }

    .boxHamb{
        display: none;
    }

    .navBoxHeader{
        display: flex;
    }

    .boxRegister{
        width: 506px;
        height: 519px;
    }

}