.headerHomePage{    
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.boxHeader{
    padding-top: 25px;
    padding-bottom: 25px;
}

.LogoImg{
    width: 142px;
    height: 15px;
}

.departList,.userList{
    overflow-y: auto;
    padding: 25px;
    width: 1182px;
    height: 385px;
}

.departItem,.userItem{
    width: 489px;
    height: 196px;
    border-bottom: 1px solid var(--brand100);
}

.icon{
    cursor: pointer;  
    opacity: 50%;
    
}

.icon:hover{
    opacity: 100%;     
}

.divTextarea{
    resize: none;
}



@media (min-width: 900px){
    .boxHeader{
        flex-direction: row;
    }

    .LogoImg{
        width: 203px;
        height: 21px;
    }  

   

}