.font1{
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
}

.font2{
    font-weight: 600;
    font-size: 30px;
    line-height: 24px;
}

.font3{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

.font3-1-0{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.font3-1{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.font4{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.font4-1{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.font5{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}

.font6{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.text-center{
    text-align: center;
    line-height: 42px;
}